<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">I love pineapple on my pizza</p>
    <hr>
    
    <%# HTML <a> tags generate GET requests%>
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-light btn-lg">Log Out</button>
    </form>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
